.sidebar {
  width: 200px;
  padding: 1rem;
  background-color: #fff3f0;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(229,107,46,0.2);
}

.divider {
  border: 1px solid #ff8f40;
  margin: 0.5rem 0 1rem 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.categoryItem {
  padding: 0.5rem 0.8rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.categoryItem:hover {
  background-color: #ff8f40;
  color: white;
  font-weight: bold;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.active {
  background-color: #ff8f40;
  color: white;
  font-weight: bold;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}