body {
  margin: 0;
  font-family: "Balsamiq Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3D0000;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FFFCFB;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  transition: opacity 0.2s;
}

button:hover {
  opacity: 0.9;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.gamesContainer, .categoriesContainer, .aboutContainer {
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
}

.gamesGrid, .categoriesGrid {
  margin-top: 2rem;
  min-width: 250px;
  max-width: 0.8fr;
}

/* Для игр - 2 колонки */
.gamesGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

/* Для категорий - 3 колонки */
.categoriesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}



.aboutContent {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-top: 2rem;
}

.aboutImage {
  width: 300px;
}

.aboutText {
  flex: 1;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .aboutContent {
    flex-direction: column;
  }
  
  .aboutImage {
    width: 200px;
  }

  .gamesGrid, .categoriesGrid {
    grid-template-columns: 1fr;
  }
}