.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  position: relative; /* Добавляем для позиционирования изображения */
  background: white;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  max-width: 400px;
  width: 90%;
  margin-top: 80px; /* Освобождаем место сверху для изображения */
}

.modalImage {
  position: absolute;
  width: 200px; /* Увеличиваем размер */
  top: -160px; /* Выдвигаем вверх за границы */
  left: 50%;
  transform: translateX(-50%);
}

.modalButton {
  background-color: #FF8F40;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  font-size: 1.1rem;
  margin-top: 1rem; /* Увеличиваем отступ */
  cursor: pointer;
  transition: transform 0.2s;
}

.modalButton:hover {
  transform: scale(1.05);
}